@charset "utf-8";
@font-face {
    font-family: "DeterminationJP";
    src: url('../fonts/DeterminationJP.ttf');
}

#loading-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1.2s ease;
    z-index: 2;
}

.completed {
    opacity: 0;
    visibility: hidden;
}

body {
    background-color: black;
    color: white;
    font-family: "DeterminationJP";
}

/* ローディングアイコン */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

/* nav */

:root {
    --nav-height: 60px;
    --nav-background: rgb(30, 30, 30);
}

nav {
    display: flex;
    padding: 0 20px;
    align-items: center;
    height: var(--nav-height);
    background: var(--nav-background);
    line-height: 0;
}

.logo h1 {
    font-size: 20px;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    height: var(--nav-height);
    align-items: center;
    margin-left: auto;
    z-index: 1;
}

.nav-links li {
    list-style: none;
    margin: 0 15px 0 15px;
    height: var(--nav-height);
    line-height: var(--nav-height);
    text-align: center;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
}

.menu {
    cursor: pointer;
    background: var(--nav-background);
    border: none;
    outline: none;
    display: none;
}

.menu .bar {
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    opacity: 1;
    visibility: visible;
    transition: 0.5s ease;
    transform-origin: left;
}

.menu .bar1 {
    margin-bottom: 5px;
}

.menu .bar3 {
    margin-top: 5px;
}

.menu.toggle .bar1 {
    transform-origin: left;
    transform: rotate(45deg);
}

.menu.toggle .bar2 {
    opacity: 0;
    visibility: hidden;
}

.menu.toggle .bar3 {
    transform-origin: left;
    transform: rotate(-45deg);
}

/* 画面1 */

.screen1 {
    min-height: 100vh;
    padding: 0 20px 0 20px;
    background: linear-gradient(0deg, rgba(1, 1, 1, 1), rgba(1, 1, 1, 0.3)), url(../images/だぁてぇ_back1.jpg) no-repeat center;
    background-size: cover;
}

.screen1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50vh;
    padding-bottom: 50vh;
    width: 100%;
    max-width: 800px;
}

.screenbox1 {
    margin-left: auto;
    margin-right: auto;
    padding: 5vh 0px 20px 0px;
    max-width: 1024px;
    word-wrap: break-word;
}

.screenbox1 h1 {
    background-color: rgba(1, 1, 1, 0.75);
    border: 5px solid rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 36px;
}

.screenbox1 p {
    background-color: rgba(1, 1, 1, 0.75);
    border: 5px solid rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 14px;
}

/* 画面2 */

.screen2 {
    max-width: 1024px;
    padding: 0 20px 0 20px;
    margin: auto;
}

.screen2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.border1 {
    padding: 20px 20px 20px 20px;
    border: solid 2px #FFF;
}

.screen2 h1 {
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
}

.screen2 h2 {
    margin: 20px 0 20px 0px;
    font-weight: normal;
    font-size: 28px;
}

/* 3カラムiframeレスポンシブ処理 */

.iframe-container {
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.iframe-content {
    position: relative;
    width: 100%;
    padding: 45% 0 0 0;
}

.iframe-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* footer */

footer {
    padding: 20px;
}

footer p {
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

footer a, a:link, a:visited, a:hover, a:active {
    color: #FAFF00;
}

.footer-box {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.footer-button-group {
    display: flex;
}

.footer-button {
    margin: auto;
    padding: 5px;
    border: solid 2px #ff7f26;
    max-width: 150px;
    width: 100%;
}

.footer-button img {
    width: 100%;
    height: auto;
}

/* 横幅768px以内になったときの処理 */

@media screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 100%;
        width: 300px;
        height: 100%;
        background: var(--nav-background);
        margin-top: var(--nav-height);
        transition: 0.5s ease-out;
    }
    .nav-links li {
        height: var(--nav-height);
        line-height: var(--nav-height);
        text-align: center;
        width: 100%;
        display: block;
    }
    .menu {
        display: block;
        margin-left: auto;
    }
    .menu.toggle+.nav-links {
        transform: translateX(-100%);
    }
    .screenbox1 h1 {
        font-size: 28px;
    }
    .border1 {
        border: solid 1px #FFF;
    }
    .screen2 h1 {
        font-size: 14px;
        line-height: 28px;
    }
    .screen2 h2 {
        font-size: 24px;
    }
    footer p {
        font-size: 14px;
        line-height: 22px;
    }
}